{% extends 'base.html' %}

{% block head %}


{% endblock %}

{% block body %}



<!--- <button type="button" action="/login" id="loginbutton">Log In</button></li>
<div class="login-form" id="thisisloginform"> -->



        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div class="starter-template">
<h2>Welcome, {{email}}!</h2>
<div><a href="/displaysaved">My Saved Meals</a></div>
<div><a href="/changepw">Change Password</a></div>


      </div>

    </div><!-- /.container -->
{% endblock %}

