{% extends 'base.html' %}

{% block head %}



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

<style>
#righthalf{display: inline-block;
width: 50%;
height: 100%;
margin: 10px;
}

#lefthalf{
display: inline-block;
width: 40%;
}

</style>

{% endblock %}

{% block body %}


<div id ="lefthalf"><h1>Random Meal</h1>
<div name="saveveg">{{vegetable}}</div>
<div name="savepro">{{protein}}</div>
<div name="savesta">{{starch}}</div>



<form action="/feedme"><button type="btn btn-default"> MOAR FOOD </button></div></form></div>

{% if "logged_in" in session %}
    <form action = "/saveme">
    <button type="btn btn-default"> Save This Recipe </button></form></div>
{% endif %}

<div id="righthalf">
<h3>{{recipe_name}}</h3>
<img src="{{yummly_image_url}}" class="img-responsive">
<br>
<a href="www.yummly.com/recipe/{{end_of_url}}">Click here for a recipe that might use these ingredients</a>
</br>
<form action = "/"><button type="submit"> woo </button></form>
</div>
</div>



    </div><!-- /.container -->







{% endblock %}
